h2,
h4 {
  font-weight: bold;
}

h2{
  margin-bottom: 0.5rem;
}

img#take-photo {
  height: 24vh;
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

.image-container {
  position: relative;
}

.text-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 0.5rem;
  position: absolute;
  bottom: 1px;
  font-size: 0.7rem;
}

#btntakephoto {
  --background: var(--adamco-green);
}

#btnselectphoto {
  --background: #444941;
}

#btnClearImage {
  --background: #ec4141;
  font-size: 0.8rem;
}

#btnSaved {
  --background: var(--adamco-green);
  --background-activated: var(--adamco-green);
}

ion-item ion-label {
  font-size: 0.9rem;
}
