<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="timekeeping"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h2>Instruction:</h2>
        <p>
          To Time In or Time Out, please enter the odometer in the textbox and capture an image of the odometer.
        </p>
      </ion-label>
    </ion-item>

    <br>

    <form [formGroup]="attendanceForm" novalidate class="ion-margin-horizontal">
      <ion-input formControlName="odometer" type="number" label="Odometer * " labelPlacement="stacked" id="odometer"
        name="odometer" fill="outline"></ion-input>
    </form>

    <ion-item lines="none">
      <ion-label [color]="status ? 'success':'danger'">
        {{ geofencingStatus }}
      </ion-label>
    </ion-item>
  </div>

  <ng-container *ngIf="photoservice.photos.length > 0; else selectImage">
    <div class="ion-margin-horizontal">
      <div class="image-container" id="geotagged-img">
        <div *ngFor="let photo of photoservice.photos; index as position">
          <img class="ion-margin-top" src="data:image/png;base64,{{photo.webviewPath}}" alt="selfie with client">
        </div>
        <div class="text-container ion-text-center">
          <div id="imageDateTimeTag">{{imageDateTimeTag | date:'long'}}</div>
          <div id="imageGeoTag">{{imageGeoTag}}</div>
          <div id="imageLocationTag">{{LocationAddress}}</div>
        </div>
      </div>
      <div>
        <ion-button mode="ios" id="btnClearImage" (click)="clearImage()">
          Clear Photo
        </ion-button>
      </div>
    </div>
  </ng-container>

  <ng-template #selectImage>
    <div align="center">
      <img src="../../../assets/img/take-photo.svg" alt="take photo" id="take-photo">

      <ion-button mode="ios" id="btntakephoto" (click)="capturePhoto()" color="dark">
        Attach Odometer Image
      </ion-button>
    </div>
  </ng-template>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" class="ion-margin" id="btnSaved" expand="block" (click)="presentSubmitPrompt()"
      [disabled]="attendanceForm.invalid">
      Time {{ attendanceText ? "Out" : "In" }}
    </ion-button>
  </ion-toolbar>
</ion-footer>