<ion-content>
  <div class="container ion-padding">
    <ion-img src="../../../assets/img/logo-gif/ADA-LOGO-GIF.gif"></ion-img>
    <ion-progress-bar [value]="progress" [buffer]="buffer" class="ion-padding"></ion-progress-bar>

    <ion-item class="ion-text-center ion-margin" lines="none">
      <ion-label>{{message}}</ion-label>
    </ion-item>

    <!-- <ion-list lines="none">
      <ion-item>
        <ion-icon [color]=" resultData ? 'success':'danger'"
          [name]=" resultData ? 'checkmark-circle-outline':'close-circle-outline'"></ion-icon>
        <ion-label> Results </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon [color]=" resultData ? 'success':'danger'"
          [name]=" resultData ? 'checkmark-circle-outline':'close-circle-outline'"></ion-icon>
        <ion-label> Results </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon [color]=" resultData ? 'success':'danger'"
          [name]=" resultData ? 'checkmark-circle-outline':'close-circle-outline'"></ion-icon>
        <ion-label> Results </ion-label>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>