* {
  font-family: "Nunito-Regular";
}

.container {
  display: block;
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;

  ion-img {
    margin-top: 10vh;
    height: 30vh;
  }

  ion-progress-bar {
    padding: 8px;
    margin-top: 15px;
    --buffer-background: #4ab97a;
    --progress-background: #0e8140;
  }

  ion-label {
    font-weight: 300;
    color: #0e8140;
  }
}

ion-icon {
  font-size: 1.5rem;
}
