<ion-content [fullscreen]="true" class="ion-padding">
    <div align="center" id="image-container">
        <img src="../../../assets/img/logo/adamco.png" alt="adamco logo">
    </div>

    <ion-label class="ion-text-center">
        <h1> OAS-OTG </h1>
        <p> Version : {{appVersion}} </p>
    </ion-label>

        <form [formGroup]="loginForm" novalidate>
            <ion-item lines="none">
                <ion-input label="" labelPlacement="stacked" placeholder="Employee Number" type="number" name="username"
                    id="username" formControlName="username"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <ion-input label="" labelPlacement="stacked" placeholder="Password"
                    [type]="showPassword=== true ? 'text':'password'" name="password" id="password"
                    formControlName="password"></ion-input>
                <ion-icon slot="end" [name]="showPassword ? 'eye':'eye-off'"
                    (click)="showPassword = !showPassword"></ion-icon>
            </ion-item>


            <div align="center">
                <ion-button mode="ios" expand="block" id="btn-login" [disabled]="loginForm.invalid"
                (click)="Login()">
                Log In
            </ion-button>
            </div>
        </form>

    <div align="center">
        <ion-note>Developed By: Adamco Dev Team</ion-note>
    </div>

</ion-content>