// ! Content CSS
ion-content,
ion-footer {
  --keyboard-offset: 0 !important;
}

ion-content,
form,
ion-list {
  --background: #f4f4f4;
}

h1 {
  color: var(--adamco-orange);
  font-weight: 600;
}

ion-item {
  --background: #fcfcfc;
  border-radius: 1rem;
}

ion-button#btn-login {
  --background: var(--adamco-green);
}

ion-note {
  --color: #999999;
  font-size: 0.8rem;
}

ion-icon#icon-help {
  position: absolute;
  top: 1.5rem;
  right: 1.8rem;
  color: var(--adamco-green);
}

// ! Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {
  ion-icon {
    font-size: 1.3rem;
  }

  ion-item {
    margin: 1.2rem;
  }

  ion-input {
    font-size: 1rem;
    margin: 0.1rem;
  }

  #image-container {
    padding: 5rem 0 2.5rem 0;
  }

  ion-button#btn-login {
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    margin: 2rem 0 1.5rem 0;
    font-size: 1rem;
  }

  ion-label {
    margin: 1rem;
  }

  img {
    height: 8vh;
  }

  #image-container {
    padding: 5rem 0 2rem 0;
  }

  ion-icon#icon-help {
    font-size: 1.5rem;
  }
}

// ! Tablet Size
@media only screen and (min-width: 600px) {
  ion-item {
    margin: 2.5rem;
  }

  ion-input,
  ion-icon {
    margin: 1rem;
  }

  ion-icon {
    font-size: 2.3rem;
  }

  ion-input {
    font-size: 1.5rem;

    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
  }

  ion-button#btn-login {
    margin: 2.5rem 1rem;
    font-size: 1.3rem;

    width: 90%;
    min-width: 90%;
    max-width: 90%;
    --padding-bottom: 1.8rem;
    --padding-end: 1.8rem;
    --padding-start: 1.8rem;
    --padding-top: 1.8rem;
  }

  h1 {
    margin: 1rem;
    font-size: 3rem;
  }

  img {
    height: 14vh;
  }

  #image-container {
    padding: 10rem 0 2.5rem 0;
  }

  ion-icon#icon-help {
    font-size: 2.5rem;
  }
}
