<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> View PDF File </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="zoomPage('add')"><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-button (click)="zoomPage('subtract')"><ion-icon name="remove"></ion-icon></ion-fab-button>
  </ion-fab>

  <pdf-viewer [src]="PDF_FILE" [render-text]="true" [original-size]="false" [zoom]="zoomValue"></pdf-viewer>

</ion-content>