pdf-viewer {
  width: 100%;
  height: 100%;
}

ion-fab-button {
  --background: var(--adamco-green);
  --background-activated: var(--adamco-green);
  --color: #f5f5f5;
  margin-bottom: 1rem;

  width: 3rem;
  height: 3rem;
}
