<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Delivery Receipt</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tr-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div align="center">
    <div *ngIf="photoservice.photos.length <= 0">
      <img src="../../../assets/img/take-photo.svg" alt="take-photo" id="take-photo">
    </div>
    <div *ngIf="photoservice.photos.length > 0">
      <div class="image-container" id="geotagged-img">
        <div *ngFor="let photo of photoservice.photos; index as position">
          <img src="data:image/png;base64,{{photo.webviewPath}}" alt="selfie with client">
        </div>
      </div>
    </div>
  </div>

  <div>
    <ion-button color="danger" class="ion-margin-top" mode="ios" id="btnClearImage" (click)="clearImage()"
      *ngIf="photoservice.photos.length > 0">
      Clear Image
    </ion-button>

    <div align="center">
      <ion-button mode="ios" id="btntakephoto" color="dark" (click)="CapturePhoto()"
        *ngIf="photoservice.photos.length === 0">
        Take Photo of Delivery Receipt
      </ion-button>
    </div>
  </div>

</ion-content>
<ion-footer class="ion-no-border" *ngIf="photoservice.photos.length > 0">
  <ion-toolbar>
    <ion-button mode="ios" expand="block" color="dark" class="ion-margin" (click)="verifySave()">
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>