<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Stock Transfer Receipt</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="loaded && transferReceiptList.length > 0">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        <h2 id="result-indicator"> {{transferReceiptList.length}} Result/s </h2>
        <ion-note id="note">
          Note: These are the PDI Units for Delivery Receipt Attachment.
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="loaded; then showData; else showLoader"></ng-container>
  <ng-template #showData>

    <ng-container *ngIf="transferReceiptList.length > 0; else empty">


      <ion-card mode="ios" *ngFor="let item of transferReceiptList">
        <ion-chip color="primary" mode="ios" outline="true" class="view-info">
          <ion-label> PDI{{dateToday | date:'YYYY'}}-{{ (pdiNumber + item?.RecId).toString().slice(1) }}</ion-label>
        </ion-chip>
        <ion-card-header>
          <ion-card-subtitle>
            <p>
              <ion-text [color]="(item?.Hour < 8) ? 'light':'danger'">
                {{item?.PO_Number}}
              </ion-text>
            </p>

            <p> DR #: {{item?.DR_Number}} </p>

            <p class="delivery-date"> {{item?.Audit_Date?.date | date:'longDate'}} </p>
            <p class="delivery-date"> {{item?.BranchDesc}} </p>
          </ion-card-subtitle>
          <ion-card-title>{{item?.Description || "No Description"}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button mode="ios" (click)="goToBarcodeScanner(item)" expand="block" color="dark">
            Verify Serial Number
          </ion-button>
        </ion-card-content>
      </ion-card>

    </ng-container>
    <ng-template #elseTemplate>

    </ng-template>

  </ng-template>


  <ng-template #empty>
    <div align="center">
      <img id="empty" src="../../../assets/img/no_itinerary.svg" alt="empty">
      <p id="no-data">No Data Retrieved!</p>
    </div>
  </ng-template>
  <ng-template #showLoader>
    <div align="center">
      <img id="loader" src="../../../assets/img/logo-gif/ADA-LOGO-ONLY-GIF.gif" alt="loader">
    </div>
  </ng-template>
</ion-content>