ion-card {
  --background: var(--ion-color-light-tint);
}

h2#result-indicator {
  color: var(--adamco-green);
}

h2#result-indicator,
p#no-data,
ion-modal h2,
ion-chip {
  font-weight: bold;
}

ion-card-title {
  width: 65%;
  --color: var(--ion-color-dark-shade);
}

ion-card-subtitle {
  --color: var(--ion-color-medium-tint);
}

ion-chip,
ion-icon.view-info {
  position: absolute;
}

ion-chip.view-info {
  right: 0.8rem;
  top: 0.8rem;
}

ion-icon {
  right: 1rem;
  top: 0.8rem;
  z-index: 1;
}

ion-modal {
  --border-radius: 1rem;
  --border-style: none;
  --height: 75%;
  --max-height: 75%;
  --min-height: 75%;
}

ion-modal#detailsModal {
  --height: 75%;
  --max-height: 75%;
  --min-height: 75%;
}

ion-modal#sortModal {
  --height: 50%;
  --max-height: 50%;
  --min-height: 50%;
}

@media only screen and (max-width: 576px) {
  #loader {
    margin: 12rem 0 0 0;
  }

  #empty {
    margin: 4rem 0 0 0;
  }

  p#no-data {
    font-size: 1.3rem;
  }

  ion-card-title {
    font-size: 1rem;
  }

  ion-button.scanners {
    font-size: 0.8rem;
    --padding-end: 1.3rem;
    --padding-start: 1.3rem;
    width: 40%;
  }

  .pdi-button {
    font-size: 0.8rem;
    --padding-end: 1.3rem;
    --padding-start: 1.3rem;
  }

  ion-chip {
    font-size: 0.65rem;
  }

  ion-icon {
    font-size: 2rem;
  }

  .delivery-date {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 600px) {
  #loader {
    margin: 1rem 0 0 0;
  }

  #empty {
    margin: 8rem 0 0 0;
  }

  p#no-data {
    font-size: 1rem;
  }

  ion-card-title {
    font-size: 1.2rem;
  }

  ion-chip {
    font-size: 0.8rem;
  }

  ion-icon {
    font-size: 2rem;
  }
}
