// ! Content CSS

h2,
h3 {
  font-weight: bold;
}

img#adamco-logo {
  margin: 0;
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

ion-card-content,
ion-card {
  margin: 0;
}

ion-card#main-card {
  --background: #f1f1f1;
}

ion-card#main-card ion-item {
  --background: #f1f1f1;
}

ion-card#main-card ion-card-title {
  --color: var(--adamco-green);
}

ion-card.itinerary-card {
  background: var(--adamco-green);
}

ion-card.itinerary-card {
  ion-card-title {
    --color: #f9f9f9;
  }

  ion-card-subtitle {
    --color: #f9f9f9;
  }
}

ion-modal {
  --backdrop-opacity: 0.5;
  --background: #f1f1f1;
  --border-color: var(--adamco-green);
  --border-radius: 1rem;
  --border-style: solid;
  --border-width: 8px;
}

ion-button {
  --background: var(--adamco-green);
}

#empty-message {
  padding: 0 2rem;
}

#note {
  color: #999999;
}

::ng-deep .ion-video-player {
  width: 100% !important;
  height: 100% !important;
}

// ! Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {
  img#adamco-logo {
    height: 4vh;
  }

  p#position {
    font-size: 0.7rem;
  }

  ion-card-title {
    font-size: 1.8rem;
  }
}

// ! Tablet Size
@media only screen and (min-width: 600px) {
  img#adamco-logo {
    height: 4vh;
  }

  img#loader {
    margin-top: 24vh;
    height: 15vh;
  }

  img#empty {
    margin-top: 5vh;
    height: 28vh;
  }

  p#note {
    font-size: 1.2rem;
  }

  #empty-message h4{
    padding: 0 5rem;
  }

  ion-avatar {
    margin: 1.5rem;
    width: 4rem;
    height: 4rem;
  }

  h2,
  h3 {
    font-size: 1.8rem;
  }

  h2 {
    margin: 1rem;
  }

  p#position {
    font-size: 1.2rem;
  }

  ion-card#main-card ion-card-title {
    font-size: 2.5rem;
  }

  ion-card#main-card {
    margin: 1.5rem;
  }

  ion-card.itinerary-card {
    padding: 1.2rem;
  }

  ion-card.itinerary-card {
    ion-card-title {
      font-size: 2.8rem;
    }

    ion-card-subtitle {
      font-size: 1rem;
    }

    ion-icon {
      font-size: 1.3rem;
    }
  }
}
