<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div align="center">
    <img src="../../../assets/img/survey.svg" alt="survey" id="survey">
  </div>


  <ion-item lines="none" class="ion-margin-top">
    <ion-label class="ion-text-wrap">
      <h1> Rate OAS-OTG App </h1>
      <h2>Help Us Improve Your Experience</h2>
      <h3>
        We value your feedback! Please take a moment to rate the OAS-OTG App and share your thoughts. Your input helps
        us enhance the app and provide you with a better experience.
      </h3>
    </ion-label>
  </ion-item>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="2.4" class="ion-text-center" *ngFor="let rate of [1,2,3,4,5]">
        <div (click)="test(rate)">
          <img [src]="rating >= rate ? activeStar:inactiveStar" alt="star">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-item lines="none" class="ion-margin-top">
    <ion-label class="ion-text-wrap">
      <h1> Your Review </h1>
      <h3>
        Tell us what you think about OAS-OTG. Your feedback is essential for us to make the app even better.
      </h3>
    </ion-label>
  </ion-item>

  <ion-textarea class="ion-padding" [autoGrow]="true" placeholder="Type your comments & suggestions" fill="outline"></ion-textarea>

  <ion-item lines="none" class="ion-margin-top">
    <ion-label class="ion-text-wrap">
      <h1> Why Rate Us? </h1>
      <h3>
        Your feedback helps us understand what you like and dislike about the app.
        It guides us in making improvements and adding new features.
        Your ratings and reviews assist others in deciding if OAS-OTG is right for them.
        Thank you for your support!

        Your reviews and ratings are invaluable to us. They encourage our team to continually work towards enhancing
        your
        experience. Thank you for being part of the ADAMCOmmunity.
      </h3>
    </ion-label>
  </ion-item>

  <ion-button mode="ios" class="ion-margin" (click)="submitRating()">
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    Submit Rating
  </ion-button>

</ion-content>