img:not(#survey) {
  height: 3.5vh;
}

img#survey{
    height: 35vh;
}

h1 {
  margin-top: 0.5rem;
  font-weight: bold;
}

h2 {
  margin-top: 0.3rem;
}

h3 {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}

ion-button {
  --background: var(--adamco-green);
  --background-activated: var(--adamco-green);
}
