<ion-tabs *ngIf="userAccess === 'FMR'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workschedule">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Itinerary</ion-label>
    </ion-tab-button>

    <ion-tab-button [disabled]="true">
    </ion-tab-button>

    <ion-tab-button tab="asq-list">
      <ion-icon name="reader"></ion-icon>
      <ion-label>ASQ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-account">
      <ion-icon name="grid"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="userAccess === 'BM'">
  <ion-tab-bar slot="bottom">

    <ion-tab-button [disabled]="true">
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workschedule">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Itinerary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-tabs *ngIf="userAccess === 'BAO'">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-bao">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button [disabled]="true">
    </ion-tab-button> -->

    <ion-tab-button tab="tr-list">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Transfer Receipt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="timekeeping">
      <ion-icon name="time"></ion-icon>
      <ion-label>Timkeeping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-account">
      <ion-icon name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


<ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="userAccess !=='BM' && userAccess !=='BAO'">
  <ion-fab-button (click)="proceedToTimeKeeping()"><ion-icon name="time"></ion-icon></ion-fab-button>
</ion-fab>

<!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="userAccess === 'BM'">
  <ion-fab-button (click)="proceedToTimeKeeping()" id="fab-bm"><ion-icon name="time"></ion-icon></ion-fab-button>
</ion-fab> -->