// ! Content CSS

ion-tab-button {
  --color-focused: var(--adamco-green);
  --color-selected: var(--adamco-green);
}

ion-fab-button {
  --background: var(--adamco-green);
  --background-activated: green;
}

// ! Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {
  ion-tab-bar ion-icon {
    font-size: 1rem;
  }

  ion-tab-bar ion-label {
    font-size: 0.8rem;
  }

  ion-fab-button {
    margin-bottom: 1rem;
  }

  ion-fab-button#fab-bm {
    margin-left: 1.5rem;
  }
}

// ! Tablet Size
@media only screen and (min-width: 600px) {
  ion-tab-bar {
    height: 5rem;
  }

  ion-tab-bar ion-icon {
    font-size: 1.5rem;
  }

  ion-tab-bar ion-label {
    font-size: 1rem;
  }

  ion-fab-button {
    margin-bottom: 1.5rem;
    width: 5rem;
    height: 5rem;
  }

  ion-fab-button ion-icon {
    font-size: 2rem;
  }
}
