<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Verify Unit Serial Number </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tr-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ngx-scanner-qrcode #action="scanner" [config]="config" [canvasStyles]="canvasstyles"
    (event)="getQRValue($event, action)"></ngx-scanner-qrcode>
  <p *ngIf="action.isLoading">⌛ Loading...</p>
  <ion-button mode="ios" [color]="action.isStart ? 'danger' : 'tertiary'" (click)="doAction(action)">
    {{action.isStart ? 'Stop Scanner' : 'Start Scanner'}}
  </ion-button>
</ion-content>



<ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title>Check Serial Number</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <ion-input label="Serial Number" labelPlacement="stacked" type="text" placeholder="e.g. CBH-xxxxx"
        fill="outline" [(ngModel)]="serialInput"></ion-input>
      <br>

    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-button mode="ios" expand="block" color="danger" class="ion-margin" (click)="verifyBarcode()" [disabled]="serialInput === ''">
          Verify Serial Number
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>