<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div align="center">
      <ion-img src="../../../assets/img/logo/adamco.png" alt="logo"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-text-center">
    <ion-label id="title">
      <h1>OAS OTG</h1>
      <p>Version {{appVersion}}</p>
    </ion-label>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of appMenu">
        <ion-card mode="ios" (click)="doTask(item?.id)">
          <ion-card-header>
            <ion-card-subtitle> {{item?.label}} </ion-card-subtitle>
            <ion-card-title>
              <ion-icon [name]="item?.icon"></ion-icon>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>