ion-img {
  margin: 10vh 0 1vh 0;
  height: 10vh;
}

ion-label#title h1 {
  color: var(--adamco-orange);
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  ion-label#title {
    margin: 6rem;
  }

  ion-item {
    --padding-bottom: 4px;
    --padding-top: 4px;
  }

  ion-card {
    margin: 0 0.5rem;
    // height: 7rem;
  }
}

@media only screen and (min-width: 600px) {
  ion-label#title h1 {
    font-size: 2.3rem;
    margin: 4.5rem 0 0 0;
  }

  ion-label#title p {
    font-size: 1.2rem;
    margin: 0 0 3rem 0;
  }

  ion-item {
    --padding-bottom: 4px;
    --padding-top: 4px;
  }

  ion-card {
    margin: 0.5rem;
  }

  ion-card-title {
    font-size: 2rem;
  }

  ion-card-subtitle {
    font-size: 1.3rem;
  }
}
