// * {
//   font-family: Arial, Helvetica, sans-serif;
// }

// ion-content {
//   --background: #0e8140;
// }

// // .menu-header-bg {
// //   height: 170px;
// //   width: 400px;
// //   background: #0e8140;
// //   border-bottom-left-radius: 8px;
// //   border-bottom-right-radius: 8px;
// // }

// .header-content {
//   // margin: 0;
//   // padding: 0;
//   // position: absolute;
//   // top: 30px;
//   // left: 15px;
//   // display: flex;
//   // align-items: center;

//   // img {
//   //   height: 90px;
//   //   width: auto;
//   //   margin: auto;
//   //   display: block;
//   // }

//   h1 {
//     width: 100%;
//     font-size: 15px;
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: bold;
//     color: #fff;
//   }

//   p {
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 12px;
//     color: #fff;
//     font-weight: 100;
//     letter-spacing: 0.4px;
//   }
// }

// .menu-items {
//   margin: 0px;

//   ion-icon {
//     margin-right: 20px;
//     color: #86979f;
//   }

//   ion-item {
//     padding-left: 20px;
//     margin-bottom: 10px;
//   }
// }

// .my-label {
//   font-size: 10x !important;
//   color: #d3d3d3;
// }

// ion-icon {
//   color: #0e8140 !important;
// }

* {
  color: #ffffff;
  font-family: "Nunito-Regular";
}

ion-content {
  --background: var(--adamco-green);
}

ion-item {
  --background: var(--adamco-green);
}

ion-item {
  --ripple-color: var(--adamco-orange);
}

ion-label.menu-label {
  font-family: "Nunito-Regular";
}

ion-label.label-static {
  font-family: "Nunito-Regular";
  margin-left: 2rem;
}

div#labelname {
  font-size: 1.2rem;
}

div#labelposition {
  font-size: 0.8rem;
}
