<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar id="header">
    <ion-title> Prospect Profile Form </ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="prospectForm">
    <ion-list lines="none">
      <ion-list-header>
        <h3> Profile </h3>
      </ion-list-header>

      <ion-select formControlName="Activity" label="Activity *" labelPlacement="stacked" fill="outline">
        <ion-select-option *ngFor="let item of activityListArray" [value]="item.Code">{{item.Name}}</ion-select-option>
      </ion-select>

      <ion-input label="Proposed Date of Activity *" labelPlacement="stacked" type="date" formControlName="ActivityDate"
        fill="outline"></ion-input>

      <ion-list-header>
        <h3> Lead Type </h3>
      </ion-list-header>

      <ion-segment [value]="currentType" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="Individual">
          <ion-icon name="person"></ion-icon>
          <ion-label>Individual</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Corporate">
          <ion-icon name="business"></ion-icon>
          <ion-label>Corporate</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Captain">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Captain</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf="corporateInputSection">
        <ion-select formControlName="CorporateAccountType" label="Corporate Account Type *" labelPlacement="stacked"
          fill="outline">
          <ion-select-option *ngFor="let item of corporateAccountListArray"
            [value]="item.Code">{{item.Name}}</ion-select-option>
        </ion-select>

        <ion-input label="Name of Company/Association/Cooperative *" labelPlacement="stacked" type="text"
          formControlName="Company" maxlength="50" fill="outline"></ion-input>
      </div>

      <ion-input label="Last Name *" labelPlacement="stacked" type="text" formControlName="LastName" maxlength="30"
        fill="outline"></ion-input>

      <ion-input label="First Name *" labelPlacement="stacked" type="text" formControlName="FirstName" maxlength="30"
        fill="outline"></ion-input>

      <ion-input label="Middle Name *" labelPlacement="stacked" type="text" formControlName="MiddleName" maxlength="30"
        fill="outline"></ion-input>

      <ion-input label="Birthdate" labelPlacement="stacked" type="date" formControlName="BirthDate"
        fill="outline"></ion-input>

      <ion-input label="Affiliated Organization:" labelPlacement="stacked" type="text"
        formControlName="AffiliatedOrganization" fill="outline"></ion-input>

      <ion-select formControlName="Occupation" label="Occupation *" labelPlacement="stacked" fill="outline">
        <ion-select-option *ngFor="let item of occupationListArray"
          [value]="item.Name">{{item.Name}}</ion-select-option>
      </ion-select>

      <ion-input label="Farmland Owned (Hectares)" labelPlacement="stacked" type="number" formControlName="FarmLand"
        fill="outline"></ion-input>

      <ion-select formControlName="ClientSource" label="Where did you get the client *" labelPlacement="stacked"
        (ionChange)="setTipsterValue($event)" fill="outline">
        <ion-select-option *ngFor="let item of leadSourceListArray"
          [value]="item.Code">{{item.Name}}</ion-select-option>
      </ion-select>

      <ion-select formControlName="Tipster" label="OBOK/Tipster *" labelPlacement="stacked"
        (ionChange)="getTipsterValue($event)" fill="outline">
        <ion-select-option *ngFor="let item of agentListArray" [value]="item.Code">{{item.Name}}</ion-select-option>
      </ion-select>

      <ion-list-header>
        <h3> Home Address </h3>
      </ion-list-header>

      <ion-select formControlName="HomeProvince" label="Province *" labelPlacement="stacked"
        (ionChange)="getHomeCityList($event)" fill="outline">
        <ion-select-option *ngFor="let item of homeprovinceListArray"
          [value]="item.stateID">{{item.stateDesc}}</ion-select-option>
      </ion-select>

      <ion-select formControlName="HomeCity" label="City *" labelPlacement="stacked"
        (ionChange)="getHomeBarangayList($event)" fill="outline">
        <ion-select-option *ngFor="let item of homecityListArray"
          [value]="item.cityID">{{item.cityName}}</ion-select-option>
      </ion-select>

      <ion-select formControlName="HomeBrgy" label="Barangay *" labelPlacement="stacked" fill="outline">
        <ion-select-option *ngFor="let item of homebarangayListArray"
          [value]="item.brgyID">{{item.brgyName}}</ion-select-option>
      </ion-select>

      <ion-input label="Street *" labelPlacement="stacked" type="text" formControlName="HomeStreet"
        fill="outline"></ion-input>

      <div class="ion-padding">
        <ion-checkbox labelPlacement="end" (ionChange)="showPresentAddress($event)"> Check If Same as Home Address
        </ion-checkbox>
      </div>

      <div *ngIf="!presentAddressSection">
        <ion-list-header>
          <h3> Present Address </h3>
        </ion-list-header>

        <ion-select formControlName="PresentProvince" label="Province *" labelPlacement="stacked"
          (ionChange)="getPresentCityList($event)" fill="outline">
          <ion-select-option *ngFor="let item of presentprovinceListArray"
            [value]="item.stateID">{{item.stateDesc}}</ion-select-option>
        </ion-select>

        <ion-select formControlName="PresentCity" label="City *" labelPlacement="stacked"
          (ionChange)="getPresentBarangayList($event)" fill="outline">
          <ion-select-option *ngFor="let item of presentcityListArray"
            [value]="item.cityID">{{item.cityName}}</ion-select-option>
        </ion-select>

        <ion-select formControlName="PresentBrgy" label="Barangay *" labelPlacement="stacked" fill="outline">
          <ion-select-option *ngFor="let item of presentbarangayListArray"
            [value]="item.brgyID">{{item.brgyName}}</ion-select-option>
        </ion-select>

        <ion-input label="Street *" labelPlacement="stacked" type="text" formControlName="PresentStreet"
          fill="outline"></ion-input>
      </div>

      <ion-list-header>
        <h3> Contact Details </h3>
      </ion-list-header>

      <div formArrayName="ContactDetails">
        <div align="right" class="ion-margin-bottom">
          <ion-button (click)="addContactField()" class="ion-margin-horizontal">
            <ion-icon slot="start" name="add"></ion-icon> Add Row
          </ion-button>
        </div>
        <div *ngFor="let item of contactQuantities().controls; let i = index" [formGroupName]="i">
          <div align="right" *ngIf="i !== 0" class="ion-margin">
            <ion-icon slot="icon-only" name="trash-outline" color="danger" id="remove-button"
              (click)="removeContactField(i)"></ion-icon>
          </div>
          <ion-select label="Contact Type *" labelPlacement="stacked" formControlName="ContactType"
            (ionChange)="changeInputType($event)" fill="outline">
            <ion-select-option value="Mobile"> Mobile </ion-select-option>
            <ion-select-option value="Home"> Home </ion-select-option>
            <ion-select-option value="Email"> Email </ion-select-option>
            <ion-select-option value="Fax"> Fax </ion-select-option>
            <ion-select-option value="Social Media Link"> Social Media Link </ion-select-option>
          </ion-select>

          <ion-input label="Particulars *" labelPlacement="stacked" [type]="contactType" [pattern]="contactPattern"
            [maxlength]="contactLength" formControlName="Particulars" [placeholder]="contactPlaceholder"
            fill="outline"></ion-input>
        </div>
      </div>

      <ion-list-header>
        <h5> Repeat Buyer? </h5>
      </ion-list-header>

      <ion-item>
        <ion-toggle justify="space-between" (ionChange)="getToggleValue($event, 'RepeatBuyer')"> Yes/No </ion-toggle>
      </ion-item>

      <div *ngIf="prospectForm.get('RepeatBuyer').value === 'YES'">
        <ion-list-header>
          <h5> Owner of other Machine Brand? </h5>
        </ion-list-header>

        <ion-item>
          <ion-toggle justify="space-between" (ionChange)="getToggleValue($event, 'OtherBrand')"> Yes/No </ion-toggle>
        </ion-item>
      </div>

      <ion-list-header>
        <h3> Product of Interest </h3>
      </ion-list-header>

      <div formArrayName="ProductOfInterest">
        <div align="right" class="ion-margin-bottom">
          <ion-button (click)="addProductField()" class="ion-margin-horizontal">
            <ion-icon slot="start" name="add"></ion-icon> Add Row
          </ion-button>
        </div>
        <div *ngFor="let item of productQuantities().controls; let i = index" [formGroupName]="i">
          <div align="right" *ngIf="i !== 0" class="ion-margin">
            <ion-icon slot="icon-only" name="trash-outline" color="danger" id="remove-button"
              (click)="removeProductField(i)"></ion-icon>
          </div>

          <ion-select label="Product *" labelPlacement="stacked" (ionChange)="getProductModelList($event)"
            fill="outline">
            <ion-select-option *ngFor="let item of productListArray"
              [value]="item.Code">{{item.Name}}</ion-select-option>
          </ion-select>

          <ion-select formControlName="Model" label="Model *" labelPlacement="stacked" fill="outline">
            <ion-select-option *ngFor="let item of productModelListArray"
              [value]="item.Code">{{item.Name}}</ion-select-option>
          </ion-select>

          <ion-input label="Target date of Purchase (Optional)" labelPlacement="stacked" type="date"
            formControlName="TxtTargetPurchaseDate" fill="outline"></ion-input>
        </div>
      </div>
    </ion-list>
  </form>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" (click)="presentSavedPrompt()" expand="block" [disabled]="prospectForm.invalid" class="ion-margin">
      Save Client Information
    </ion-button>
  </ion-toolbar>
</ion-footer>


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-title> Client History </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">
          <ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ng-container *ngIf="prospectAddedListArray.length !== 0; then content; else empty"></ng-container>
      <ng-template #content>
        <div align="right">
          Total: <span class="total-client"> {{prospectAddedListArray.length}}</span>
        </div>
        <ion-list>
          <ion-item *ngFor="let item of prospectAddedListArray">
            <ion-label>
              <h2> {{ item.CLI_Lname+ ', ' + item.CLI_Fname }} </h2>
              <p> <ion-icon name="location-outline"></ion-icon> Branch: {{ item.Branch }} </p>
              <p> <ion-icon name="calendar-outline"></ion-icon> Date Due: {{ item.CSL_Date_Due.date | date:'MMMM dd,
                yyyy' }} </p>
              <p> <span class="pending"> Pending For Approval </span> </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
      <ng-template #empty>
        <div class="ion-margin" align="center">
          <br><br> <br> <br>
          <img src="../../../assets/img/no_itinerary.svg" alt="empty_docs" class="icon-empty">
          <br> <br>
          <h3>No Added Client For Today!!</h3>
        </div>
      </ng-template>
    </ion-content>
  </ng-template>
</ion-modal>