* {
  font-family: "Nunito-Regular";
}

ion-title {
  font-weight: 600;
}

h3 {
  color: var(--adamco-green);
  font-weight: 800;
}

ion-segment {
  --background: var(--adamco-green);
  margin-bottom: 1rem;
}

ion-segment-button {
  --background-checked: var(--adamco-orange);
  --color: #ffffff;
  --color-checked: #ffffff;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}

ion-segment-button ion-label {
  font-size: 0.7rem;
}

ion-button {
  --background: var(--adamco-green);
  --color: #ffffff;
}

ion-checkbox {
  --checkbox-background-checked: var(--adamco-green);
  --border-color-checked: var(--adamco-green);
  --checkmark-color: #ffffff;
}

ion-icon#remove-button {
  font-size: 2rem;
}

ion-modal {
  --height: 100%;
  --min-height: 100%;
  --max-height: 100%;
  --width: 100%;
  --min-width: 100%;
  --max-width: 100%;
}

ion-modal {
  h2,
  p,
  .total-client {
    font-weight: 600;
  }

  span.pending {
    color: #e62f2f;
  }

  .total-client {
    color: #0e8140;
    font-size: 3vh;
  }

  img {
    height: 35vh;
  }
}

ion-toggle {
  --track-background-checked: var(--adamco-green);
  --handle-background-checked: var(--adamco-green);
}

form ion-input,
form ion-select {
  margin-bottom: 1rem;
}
