<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Complete Itinerary </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-card mode="ios" class="ion-no-padding">
      <ion-chip [color]="networkStatus ? 'success':'danger'">
        <ion-label>{{networkStatus ? 'Online':'Offline'}}</ion-label>
      </ion-chip>

      <ion-card-header>
        <ion-card-subtitle>
          <ion-label>
            <p id="name">
              {{clientName !== 'null null null' ? clientName:'Non-Client Related'}}
            </p>
            <p id="address"> {{clientAddress !== 'null, null, null' ? clientAddress:''}} </p>
          </ion-label>
        </ion-card-subtitle>
        <ion-card-title>
          {{clientInfo.Status_to}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-note id="instruction" class="ion-text-justify">
    Note: To complete your itinerary, please fill all text areas and upload an image.
  </ion-note>

  <div align="right">
    <ion-button mode="ios" color="danger" id="btnLocate" (click)="computeDistance()">
      Check My Location
    </ion-button>
  </div>

  <ion-list lines="none" class="ion-margin-top">
    <form [formGroup]="resultForm" novalidate>
      <ion-select formControlName="CSL_Result" label="Result *" labelPlacement="stacked" fill="outline"
        (ionChange)="getResultRemarks($event)">
        <ion-select-option *ngFor="let item of resultCodeList" [value]="item.Code">{{item.Name}}</ion-select-option>
      </ion-select>

      <!-- <ion-select label="Reason *" labelPlacement="stacked" fill="outline">
        <ion-select-option *ngFor="let item of resultCodeList" [value]="item.Code">{{item.Name}}</ion-select-option>
      </ion-select> -->

      <ion-textarea label="Remarks *" labelPlacement="stacked" fill="outline" [autoGrow]="true" name="remarks"
        id="remarks" formControlName="CSL_Status_To_Remarks"></ion-textarea>

      <br>

      <div *ngIf="!locationStatus">
        <ion-select label="Geofence Reason *" labelPlacement="stacked" (ionChange)="showInputField($event)"
          fill="outline">
          <ion-select-option *ngFor="let item of reasons" [value]="item.Code">{{item.Name}}</ion-select-option>
        </ion-select>

        <ion-input type="text" label="Specify Reason *" labelPlacement="stacked" placeholder="Input Reason"
          formControlName="GeofenceReason" *ngIf="showReasonInput" fill="outline"></ion-input>
      </div>

      <ion-text id="geofence" [color]="locationStatus ? 'success':'danger'" class="ion-margin-bottom">
        {{geofenceStatus}}
      </ion-text>

      <div *ngIf="!locationStatus">
        <ion-grid fixed class="ion-no-margin ion-no-padding">
          <ion-row>

            <ion-col size="12">
              <ion-note class="coordinates">
                Date: {{timestamp | date:'long'}}
              </ion-note>
            </ion-col>

            <ion-col size="12">
              <ion-note class="coordinates">
                Location: {{userCoordinates?.location}}
              </ion-note>
            </ion-col>

            <ion-col size="12">
              <ion-note class="coordinates">
                Latitude:
                {{clientCoordinates ? (clientCoordinates?.latitude):'None'}}&deg;
              </ion-note>
            </ion-col>
            <ion-col size="12">
              <ion-note class="coordinates">
                Longitude:
                {{clientCoordinates ? (clientCoordinates?.longitude):'None'}}&deg;
              </ion-note>
            </ion-col>

            <ion-col size="12">
              <ion-note class="coordinates">
                Distance: {{(distance).toLocaleString()}} meters
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </form>
  </ion-list>

  <div>
    <div align="center" *ngIf="photoservice.photos.length <= 0">
      <img src="../../../assets/img/take-photo.svg" alt="take-photo" id="take-photo">
    </div>
    <div *ngIf="photoservice.photos.length > 0">
      <div class="image-container" id="geotagged-img">
        <div *ngFor="let photo of photoservice.photos; index as position">
          <img src="data:image/png;base64,{{photo.webviewPath}}" alt="selfie with client">
        </div>
        <div class="text-container">
          <div id="imageDateTimeTag"> {{geoTagging?.time | date:"long"}} </div>
          <div id="imageLatitude"> Latitude: {{geoTagging?.latitude}} &deg;</div>
          <div id="imageLongitude"> Longitude: {{geoTagging?.longitude}} &deg;</div>
          <div id="imageLocationTag"> {{geoTagging?.location}} </div>
          <br>
          <div id="imageResult">
            <ion-text color="warning">Result:</ion-text> {{geoTagging?.result}}
          </div>
          <div id="imageRemarks">
            <ion-text color="warning">Remarks:</ion-text> {{geoTagging?.remarks}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-button color="danger" class="ion-margin-top" mode="ios" id="btnClearImage" (click)="clearImage()"
    *ngIf="photoservice.photos.length > 0">
    Clear Image
  </ion-button>

  <div align="center">
    <ion-button mode="ios" id="btntakephoto" color="dark" (click)="CapturePhoto()"
      *ngIf="photoservice.photos.length === 0">
      Take Photo With Client
    </ion-button>
  </div>
  <br>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar *ngIf="resultForm?.valid">
    <ion-button mode="ios" id="btnSaved" expand="block" (click)="presentSubmitPrompt()" [disabled]="resultForm.invalid">
      Complete Itinerary
    </ion-button>
  </ion-toolbar>
</ion-footer>