ion-card-title,
#geofence {
  font-weight: bold;
}

ion-card p#name {
  color: var(--ion-color-medium-shade);
}

ion-card p#address {
  color: var(--ion-color-medium-tint);
}

ion-chip {
  position: absolute;
}

img#take-photo {
  height: 20vh;
}

ion-button#btnSaved {
  --background: var(--adamco-green);
}

.image-container {
  position: relative;
}

.text-container {
  width: 100%;
  background-color: rgba(2, 2, 2, 0.5);
  color: var(--ion-color-light);
  position: absolute;
}

ion-note.coordinates {
  --color: var(--ion-color-medium-tint);
}

@media only screen and (max-width: 576px) {
  ion-card-title {
    font-size: 1rem;
  }

  ion-card-subtitle {
    margin-top: 0.5rem;
  }

  ion-card {
    margin: 0.7rem;
  }

  ion-card p#name,
  ion-chip,
  #btnClearImage,
  #btnLocate {
    font-size: 0.8rem;
  }

  ion-card p#address {
    font-size: 0.7rem;
  }

  ion-chip {
    right: 0.1rem;
    top: 0.5rem;
  }

  form ion-select,
  form ion-input,
  form ion-text {
    margin-bottom: 1rem;
  }

  #btnLocate {
    margin: 0.5rem;
  }

  #btntakephoto,
  #btnClearImage {
    --padding-end: 2rem;
    --padding-start: 2rem;
  }

  ion-button#btnSaved {
    margin: 1rem;

    --padding-bottom: 0.8rem;
    --padding-end: 0.8rem;
    --padding-start: 0.8rem;
    --padding-top: 0.8rem;
  }

  .text-container {
    padding: 0.5rem;
    bottom: 0.3rem;
    font-size: 0.7rem;
  }

  ion-note.coordinates {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 600px) {
  ion-card-title {
    font-size: 1.3rem;
  }

  ion-card-subtitle {
    margin: 0.5rem 0 0 0;
  }

  ion-card {
    margin: 0.7rem;
    padding: 0.8rem;
  }

  ion-card p#name,
  ion-card p#address {
    font-size: 0.9rem;
  }

  ion-chip,
  #geofence,
  #btnClearImage,
  #btnLocate,
  #btntakephoto,
  ion-note#instruction {
    font-size: 1.2rem;
  }

  ion-chip {
    right: 1.2rem;
    top: 1.2rem;
  }

  form ion-select,
  form ion-input,
  form ion-text {
    margin: 0 0 2rem 0;
  }

  form ion-select,
  form ion-input,
  form ion-textarea {
    font-size: 1.5rem;
  }

  #btnLocate {
    margin: 1.5rem 0 1rem 0;
  }

  #btntakephoto,
  #btnClearImage {
    --padding-end: 2rem;
    --padding-start: 2rem;
    --padding-top: 1.2rem;
    --padding-bottom: 1.2rem;
  }

  ion-button#btnSaved {
    margin: 1.2rem;
    font-size: 1.5rem;
    --padding-bottom: 1rem;
    --padding-end: 1rem;
    --padding-start: 1rem;
    --padding-top: 1rem;
  }

  .text-container {
    padding: 0.5rem;
    bottom: 0.3rem;
    font-size: 1rem;
  }

  ion-note.coordinates {
    font-size: 1rem;
  }

  ion-col {
    margin: 1rem 0 0 0;
  }
}
