<ion-content [fullscreen]="true" class="ion-padding">

  <ion-label class="ion-margin">
    <h1>Let's Get Started!</h1>
    <h2 id="note"> Please choose your position before logging in. </h2>
  </ion-label>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" class="ion-text-center" *ngFor="let user of users" (click)="selectedUser(user)">
        <div class="container">
          <img [src]="user?.image" [alt]="user?.position">
        </div>

        <ion-label>
          <h2> {{user?.position}} </h2>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <ion-label *ngIf="userLabel">
        <h2>You have selected: </h2>
        <h1>{{userLabel?.position}}</h1>
      </ion-label>
    </ion-title>
    <ion-button mode="ios" expand="block" class="ion-margin" [disabled]="!userLabel" (click)="saveUserAccess()">
      Save Position
    </ion-button>
  </ion-toolbar>
</ion-footer>