img{
    height: 10vh;
}

h1{
    font-weight: bold;
}
#note{
    margin-top: 1rem;
}

.container{
    background-color:#f1f1f1;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ion-button {
    --background: var(--adamco-green);
    --background-activated: var(--adamco-green);
}