<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Test for Text Capture</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="getPicture()">
    Capture Image
  </ion-button>

  <ion-button (click)="selectPicture()">
    Select Image
  </ion-button>

  <img [src]="selectedImage" *ngIf="selectedImage">

  <ion-card *ngIf="imageText">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      {{ imageText }}
    </ion-card-content>
  </ion-card>

</ion-content>