ion-toggle {
  --track-background-checked: var(--ion-color-light-shade);
  --handle-background-checked: var(--ion-color-success);
}

.permission-labels{
  font-weight: bold;
}
.details{
  color: var(--ion-color-medium-shade);
}