<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Permission Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="pageLoaded; else showLoading">
    <ion-item lines="none">
      <ion-label class="ion-text-wrap">
        In order for the OAS-OTG App to function properly, these permissions are necessary.
      </ion-label>
    </ion-item>

    <ion-list lines="full">
      <ion-list-header>
        <ion-label> App Permission </ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of permissionList" [disabled]="item?.status">
        <ion-icon slot="start" [name]="item?.icon"></ion-icon>
        <ion-toggle (ionChange)="requestPermission(item?.id, $event)"
          [checked]="item?.status" aria-readonly="true">
          <ion-label class="ion-text-wrap">
            <h2 class="permission-labels">{{item?.label}}</h2>
            <p class="details">{{item?.details}}</p>
          </ion-label>
        </ion-toggle>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #showLoading>
    <div align="center">
      <img src="../../../assets/img/logo-gif/ADA-LOGO-ONLY-GIF.gif" alt="loader" id="loader">
    </div>
  </ng-template>

</ion-content>