<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Prospect Client </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <swiper-container [slidesPerView]="1" [allowTouchMove]="true" [allowSlidePrev]="true" [fadeEffect]="true" #swiper>

    <swiper-slide>
      <form [formGroup]="clientForm">
        <ion-list lines="none" class="ion-margin">
          <ion-select formControlName="Activity" label="Activity" labelPlacement="stacked" name="activity" id="activity"
            fill="outline" okText="Select">
            <ion-select-option *ngFor="let item of activityList" [value]="item?.Code">{{item?.Name}}</ion-select-option>
          </ion-select>

          <ion-input formControlName="ActivityDate" type="date" label="Proposed Date of Activity"
            labelPlacement="stacked" fill="outline"></ion-input>

          <ion-select formControlName="ClientSource" label="Where did you get the Client" labelPlacement="stacked"
            name="clientsource" id="clientsource" fill="outline" okText="Select">
            <ion-select-option *ngFor="let item of sourceList" [value]="item">{{item?.Name}}</ion-select-option>
          </ion-select>

          <ion-select formControlName="Tipster" label="OBOK/Tipster" labelPlacement="stacked" name="tipster"
            id="tipster" fill="outline" okText="Select">
            <ion-select-option *ngFor="let item of agentList" [value]="item">{{item?.Name}}</ion-select-option>
          </ion-select>

          <ion-radio-group name="auto" formControlName="LeadType">
            <ion-list-header>
              <ion-label>Lead Type</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label> Individual </ion-label>
              <ion-radio value="Individual"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="business"></ion-icon>
              <ion-label> Corporate </ion-label>
              <ion-radio value="Corporate"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="person-circle"></ion-icon>
              <ion-label> Captain </ion-label>
              <ion-radio value="Captain"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </form>
    </swiper-slide>

    <swiper-slide>
      <form [formGroup]="clientForm">
        <ion-list lines="none" class="ion-margin">
          <ion-input label="Last Name" labelPlacement="stacked" type="text" name="lastname" id="lastname"
            formControlName="LastName" fill="outline"></ion-input>

          <ion-input label="First Name" labelPlacement="stacked" type="text" name="firstname" id="firstname"
            formControlName="FirstName" fill="outline"></ion-input>

          <ion-input label="Middle Name" labelPlacement="stacked" type="text" name="middlename" id="middlename"
            formControlName="MiddleName" fill="outline"></ion-input>

          <ion-input label="Birthdate (Optional)" labelPlacement="stacked" type="date" name="birthdate" id="birthdate"
            formControlName="BirthDate" fill="outline"></ion-input>

          <ion-select formControlName="Occupation" label="Occupation" labelPlacement="stacked" name="occupation"
            id="occupation" fill="outline" okText="Select">
            <ion-select-option *ngFor="let item of occupationList"
              [value]="item?.Code">{{item?.Name}}</ion-select-option>
          </ion-select>

          <ion-button mode="ios" id="btnVerify" color="danger" (click)="verifyClientName()">
            Verify Client Name
          </ion-button>
        </ion-list>
      </form>
    </swiper-slide>

    <swiper-slide>
      <ion-list lines="none" class="ion-margin">
        <h3> Home Address</h3>

        <ion-select label="Province *" labelPlacement="stacked" name="homeprovince" id="homeprovince" fill="outline">
          <ion-select-option *ngFor="let item of provinceList"
            [value]="item?.stateID">{{item?.stateDesc}}</ion-select-option>
        </ion-select>

        <ion-select label="City/Municipality *" labelPlacement="stacked" name="homecity" id="homecity" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Barangay *" labelPlacement="stacked" name="homebarangay" id="homebarangay" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Street *" labelPlacement="stacked" name="homestreet" id="homestreet" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Landmark" labelPlacement="stacked" name="homelandmark" id="homelandmark" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>


        <h3> Permanent Address</h3>

        <ion-select label="Province *" labelPlacement="stacked" name="presentprovince" id="presentprovince"
          fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="City/Municipality *" labelPlacement="stacked" name="presentcity" id="presentcity"
          fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Barangay *" labelPlacement="stacked" name="presentbarangay" id="presentbarangay"
          fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Street *" labelPlacement="stacked" name="presentstreet" id="presentstreet" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Landmark" labelPlacement="stacked" name="presentlandmark" id="presentlandmark"
          fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>
      </ion-list>
    </swiper-slide>

    <swiper-slide>
      <ion-list lines="none" class="ion-margin">
        <ion-select label="Contact Type *" labelPlacement="stacked" name="contacttype" id="contacttype" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Particulars *" labelPlacement="stacked" name="particulars" id="particulars" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-button class="btnAddField" mode="ios">
          <ion-icon slot="start" name="add"></ion-icon>
          Add New Contact
        </ion-button>
      </ion-list>
    </swiper-slide>

    <swiper-slide>
      <ion-list lines="none" class="ion-margin">
        <ion-input label="Affiliated Organization" labelPlacement="stacked" type="text" name="organization"
          id="organization" fill="outline"></ion-input>

        <ion-input label="Farmland Owned (Hectares)" labelPlacement="stacked" type="text" name="ownedland"
          id="ownedland" fill="outline"></ion-input>

        <ion-list-header color="dark">
          <h5> Repeat Buyer? </h5>
        </ion-list-header>

        <ion-item>
          <ion-toggle justify="space-between"> Yes/No </ion-toggle>
        </ion-item>

        <ion-list-header color="dark">
          <h5> Owner of other Machine Brand? </h5>
        </ion-list-header>

        <ion-item>
          <ion-toggle justify="space-between"> Yes/No </ion-toggle>
        </ion-item>
      </ion-list>
    </swiper-slide>


    <swiper-slide>
      <ion-list lines="none" class="ion-margin">
        <h2> Unit Information</h2>

        <br>

        <ion-select label="Product *" labelPlacement="stacked" name="product" id="product" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-select label="Model *" labelPlacement="stacked" name="model" id="model" fill="outline">
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
        </ion-select>

        <ion-input label="Target Purchase Date" labelPlacement="stacked" type="date" name="purchasedate"
          id="purchasedate" fill="outline"></ion-input>

        <ion-button class="btnAddField" mode="ios">
          <ion-icon slot="start" name="add"></ion-icon>
          Add New Product
        </ion-button>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ng-container *ngIf="progress !== 1; else complete">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" class="ion-text-start">
            <ion-button mode="ios" class="ion-margin" (click)="proceedToPrevSlide()" *ngIf="progress > 0">
              <ion-icon slot="start" name="arrow-back"></ion-icon>
              Back
            </ion-button>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-button mode="ios" class="ion-margin" (click)="proceedToNextSlide()">
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
              Next
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-template #complete>
      <ion-button mode="ios" class="ion-margin" (click)="saveClient()" expand="block">
        Save Client Information
      </ion-button>
    </ng-template>

  </ion-toolbar>
</ion-footer>