ion-select,
ion-input {
  margin-bottom: 1rem;
}

ion-button {
  --background: var(--adamco-green);
  --background-activated: var(--adamco-green);
}

ion-button.btnAddField {
  --background: var(--adamco-orange);
  --background-activated: var(--adamco-orange);
}

swiper-container {
  height: 100%;
}

ion-radio {
  --color-checked: var(--adamco-green);
}

#btnVerify{
  font-size: 0.8rem;
}