<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Time Keeping</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openModal(true, 'timelogs')">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="loaded; then content; else loader"></ng-container>
  <ng-template #content>
    <div align="center">
      <img src="../../../assets/img/clock.svg" alt="clock" id="clock">
      <h2 id="time-label">{{timeToday}}</h2>
      <h6 id="date-label">{{dateToday}}</h6>
    </div>



    <ion-grid fixed class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <h2>Attendance</h2>
          <p id="note">To see if your attendance has been stored, please refresh the page.</p>
        </ion-col>
        <ion-col size="6"> <ion-text class="attendance-label">Time In:</ion-text> </ion-col>
        <ion-col size="6" class="ion-text-end">
          {{timeIn === undefined ? 'No Data' : timeIn | date:'shortTime'}}
        </ion-col>
        <ion-col size="6"> <ion-text class="attendance-label">Time Out: </ion-text></ion-col>
        <ion-col size="6" class="ion-text-end">
          {{timeOut === undefined ? 'No Data' : timeOut | date:'shortTime'}}
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button mode="ios" id="btnLog" expand="block" class="ion-margin" (click)="validateAttendance()"
      [disabled]="disabled || loaded === false || timeInOutText === 'Completed Attendance'">
      {{timeInOutText=== undefined ?'Time In':timeInOutText}}
    </ion-button>
  </ng-template>
  <ng-template #loader>
    <div align="center">
      <img src="../../../assets/img/logo-gif/ADA-LOGO-ONLY-GIF.gif" alt="adamco logo loader" id="loader">
    </div>
  </ng-template>


  <ion-modal [isOpen]="announcementModal" backdropDismiss="false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title> <ion-icon name="megaphone"></ion-icon> Announcement!!</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openModal(false,'announcement')">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-img src="../../../assets/img/survey.svg" alt="avatar"></ion-img>

        <ion-item lines="none">
          <ion-text>
            <h2>Employee Experience Survey</h2>
            <h3> 3rd Quarter 2023</h3>
          </ion-text>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="ion-text-wrap">
            Link will be accessible until
            <ion-text color="success">
              Wednesday, October 11,2023 only.
            </ion-text>
          </ion-label>
        </ion-item>

        <ion-button id="btnProceed" (click)="proceedActivity()" shape="round">
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
          Proceed to Survey Form
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal id="timelogsModal" [isOpen]="timelogsModal" backdropDismiss="false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title> Attendance Logs </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="openModal(false, 'timeLogs')">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-list>
          <ion-item *ngFor="let log of HistoryAttendance" class="ion-margin">
            <ion-icon slot="end" name="calendar"></ion-icon>
            <ion-label>
              <h2> {{log.TMK_Entry_Date?.date | date:"longDate"}} </h2>
              <h3>
                IN: {{log.TMK_Time_In?.date| date:'shortTime'}}
                -
                OUT: {{log.TMK_Time_Out?.date | date:'shortTime'}}
              </h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>