// ! Content CSS

img#clock {
  margin: 1rem 0 0 0;
  height: 24vh;
}

h2,
.attendance-label {
  font-weight: bold;
}

h6 {
  margin: 0;
  padding: 0;
  padding-bottom: 1.2rem;
  color: #6e6e6e;
}

p#note {
  color: var(--ion-color-medium);
}

#btnLog,
#btnProceed {
  --background: var(--adamco-green);
  --background-activated: #008000;
}

#btnProceed ion-icon {
  color: #f1f1f1;
}

ion-icon {
  font-size: 1.2rem;
}

ion-modal {
  --width: 100%;
  --min-width: 100%;
  --max-width: 100%;
  --height: 100%;
  --min-height: 100%;
  --max-height: 100%;
}

ion-modal#timelogsModal {
  --width: 100%;
  --min-width: 100%;
  --max-width: 100%;
  --height: 100%;
  --min-height: 100%;
  --max-height: 100%;
}

// ! Extra small devices (phones, 600px and down)
@media only screen and (max-width: 576px) {
  #btnLog {
    margin-top: 2rem;
    --padding-top: 0.8rem;
    --padding-bottom: 0.8rem;
  }

  ion-row {
    margin: 0;
  }
}

// ! Tablet Size
@media only screen and (min-width: 600px) {
  h2#time-label {
    font-size: 3rem;
  }

  h6#date-label {
    font-size: 1.5rem;
  }

  #btnLog {
    margin: 2.8rem;
    --padding-top: 1.3rem;
    --padding-bottom: 1.3rem;
    font-size: 1.5rem;
  }

  ion-col {
    font-size: 1.3rem;
  }
}
