<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Daily Work Assignment </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button title="Sync Offline Data" (click)="syncOfflineData()" *ngIf="offlineData >= 1">
        <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
        <ion-badge color="danger" mode="ios">{{offlineData}}</ion-badge>
      </ion-button>
      <ion-button title="Sync All Itinerary" (click)="RefreshItineraryStorage()">
        <ion-icon slot="icon-only" name="warning-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="md" *ngIf="loaded">
    <ion-item id="container-indicator">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-label class="ion-text-start">
              <p>Mode</p>
              <h4 [class]="NetworkStatus ? 'success':'danger'">
                {{NetworkStatus ? 'Online':'Offline'}}
              </h4>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="ion-text-center">
              <p>Coordinates</p>
              <h4 [class]="clientCoordinatesArr.length > 0 ? 'success':'danger'">
                {{clientCoordinatesArr.length > 0 ? 'Set':'Not Set'}}
              </h4>
            </ion-label>
          </ion-col>
          <ion-col size="4">
            <ion-label class="ion-text-end">
              <p>Permission</p>
              <h4 [class]="locationPermission !== '' ? 'success':'danger'">
                {{ locationPermission === "" ? "Denied" : locationPermission }}
              </h4>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="loaded; then content; else loading"></ng-container>
  <ng-template #content>
    <ng-container *ngIf="loadDWAOffline; else empty">

      <ion-item lines="none" class="ion-margin-top">
        <ion-label>
          <h2> Itineraries: {{loadDWAOffline.length}} Data Found</h2>
        </ion-label>
      </ion-item>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" sizeMd="6" sizeLg="6" *ngFor="let worksched of loadDWAOffline">
            <ion-card mode="ios" class="ion-no-padding">
              <ion-chip [color]="worksched.Status === 'Pending' ? 'danger':
              worksched.Status === 'Started' ? 'primary' :
              worksched.Status === 'Arrived' ? 'secondary' : 'success'" class="ion-margin">
                <ion-label> {{ worksched.Status }} </ion-label>
              </ion-chip>
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-label>
                    <h4> {{ (worksched.ClientName).trim() !== '' ? worksched.ClientName:'Non-Client Related'}}</h4>
                    <p class="client-address">
                      {{ worksched.CLIAL_No_Street }} {{ worksched.brgy_desc }} {{
                      worksched.city_desc }} {{ worksched.province_desc }}
                    </p>
                  </ion-label>
                </ion-card-subtitle>
                <ion-card-title>
                  {{ worksched.Status_to }}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button *ngIf="worksched.Status !== 'Completed'" class="btnItinerary"
                  (click)="doItinerary(worksched.Status,worksched)">
                  Do Itinerary
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>

    <ng-template #empty>
      <div align="center">
        <img src="../../../assets/img/no_itinerary.svg" alt="empty_docs" id="empty">
      </div>
      <div id="empty-message">
        <ion-label>
          <h2>No itinerary has been assigned!</h2>
          <p id="note">
            To check, please get in touch with the SAMS Assistant you were assigned.
          </p>
        </ion-label>
      </div>
    </ng-template>
  </ng-template>

  <ng-template #loading>
    <div align="center">
      <img src="../../../assets/img/logo-gif/ADA-LOGO-ONLY-GIF.gif" alt="adamco logo loader" id="loader">
    </div>
  </ng-template>
  <br>
</ion-content>