h2,
h3,
h4,
h6,
ion-chip {
  font-weight: bold;
}

ion-badge,
ion-chip {
  position: absolute;
}

ion-card-title {
  width: 70%;
}

ion-card,
ion-card-subtitle {
  --background: var(--ion-color-light-tint);
}

ion-card h4 {
  color: var(--ion-color-medium-tint);
}

.btnItinerary {
  --background: var(--adamco-green);
  --background-activated: var(--ion-color-success-shade);
}

#note {
  color: var(--ion-color-medium-shade);
}

ion-item#container-indicator {
  --background: #f7fff7;

  p {
    color: var(--ion-color-medium-tint);
  }

  h4::first-letter {
    text-transform: capitalize;
  }

  .danger {
    color: var(--ion-color-danger);
  }

  .success {
    color: var(--ion-color-success);
  }
}

@media only screen and (max-width: 576px) {
  img#loader {
    margin: 30vh 0 0 0;
  }

  img#empty {
    margin: 12vh 0 0 0;
  }

  ion-badge {
    top: -5px;
    right: -10px;
    font-size: 0.8rem;
  }

  ion-card {
    margin: 0.5rem;
  }

  ion-card-title {
    font-size: 1rem;
  }

  ion-card-subtitle {
    font-size: 0.7rem;
  }

  ion-card h4 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  ion-card p {
    font-size: 0.7rem;
  }

  .btnItinerary {
    font-size: 0.8rem;
    --padding-bottom: 1rem;
    --padding-end: 2rem;
    --padding-start: 2rem;
    --padding-top: 1rem;
  }

  ion-chip {
    font-size: 0.7rem;
    right: 1px;
  }

  #empty-message {
    padding: 0 3rem;
  }

  #empty-message h2 {
    margin-bottom: 0.5rem;
  }

  ion-item#container-indicator p {
    font-size: 0.8rem;
  }
}

// ! Tablet Size
@media only screen and (min-width: 600px) {
  img#empty {
    margin: 12vh 0 0 0;
  }

  ion-badge {
    top: -5px;
    right: -10px;
    font-size: 0.8rem;
  }

  ion-card {
    margin: 0.8rem;
  }

  ion-card-title {
    font-size: 1.3rem;
  }

  ion-card-subtitle {
    font-size: 0.8rem;
  }

  ion-card h4 {
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
  }

  ion-card p {
    font-size: 0.8rem;
  }

  .btnItinerary {
    font-size: 1.2rem;
    --padding-end: 2rem;
    --padding-start: 2rem;
  }

  ion-chip {
    font-size: 1rem;
    right: 1px;
  }

  #empty-message {
    padding: 0 8rem;
  }

  #empty-message h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  #note {
    font-size: 1.2rem;
  }

  ion-item#container-indicator {
    p {
      font-size: 1rem;
    }

    h4 {
      font-size: 1.3rem;
    }
  }
}
