<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Help & Support </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img src="../../../assets/img/logo/adamco.png" alt="adamco logo">
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar  mode="ios" placeholder="Search"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item lines="none" class="ion-margin-top">
    <ion-label class="ion-text-wrap">
      <h1> Need Help ?</h1>
      <p> Do you have any issues with the OTG APP?  Follow these steps to resolve your problem. If the problem persists, please contact the SAMS Assistant in charge or the IT Department for assistance in resolving it.
      </p>
    </ion-label>
  </ion-item>

  <ion-card mode="ios" *ngFor="let item of items" [routerLink]="item.link">
    <ion-card-header>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="3" class="ion-text-center">
            <ion-img [src]="item?.icon" [alt]="item?.icon"></ion-img>
          </ion-col>
          <ion-col size="9">
            <ion-card-title> {{item?.title}} </ion-card-title>
            <ion-card-subtitle> {{item?.subtitle}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>