ion-card-title {
  font-size: 1.2rem;
}

ion-card-subtitle {
  --color: #9e9e9e;
  font-size: 0.7rem;
}

ion-img {
  height: 2.5rem;
}

ion-searchbar {
  --background: #f2f2f2;
  --border-radius: 1rem;
  padding: 1rem;
}

img {
  height: 4.5vh;
  position: absolute;
  right: 0.8rem;
  top: 0.7rem;
}

ion-label h1 {
  font-weight: bold;
  color: var(--adamco-green);
  margin-bottom: 1rem;
}
