h3 {
  font-weight: 600;
}

#result-label {
  font-size: 1.2rem;
  font-weight: 600;
}

ion-modal ion-button#submit {
  --background: var(--adamco-green);
}

ion-modal ion-button#reset {
  --background: var(--adamco-orange);
}

ion-modal {
  --width: 100%;
  --min-width: 100%;
  --max-width: 100%;
  --height: 100%;
  --min-height: 100%;
  --max-height: 100%;
}

ion-icon.asq {
  color: var(--adamco-green);
  font-size: 1.5rem;
}

ion-checkbox {
  --checkbox-background-checked: var(--adamco-green);
  --border-color: var(--adamco-green);
  --border-color-checked: var(--adamco-green);
  --checkmark-color: #f1f1f1;
}

ion-card {
  --background: var(--ion-color-light-tint);
}

ion-card-title {
  font-size: 1rem;
  margin-top: 1rem;
}

ion-card-subtitle {
  --color: #a0a0a0;
  font-size: 0.7rem;
}

ion-chip {
  position: absolute;
  right: 1px;
  font-size: 0.55rem;
  padding: 0.5rem;
}

.btnView,
.btnPrint,
.btnSign {
  margin: 0;
  font-size: 0.8rem;
  --padding-bottom: 1rem;
  --padding-end: 1.8rem;
  --padding-start: 1.8rem;
  --padding-top: 1rem;
}

.btnSign,
.btnPrint {
  --background: var(--adamco-green);
  --background-activated: var(--ion-color-success-tint);
}

.btnView {
  --background: var(--ion-color-light-shade);
  --background-activated: var(--ion-color-light-shade);
  color: var(--ion-color-dark-tint);
}

ion-segment-button {
  --color-checked: var(--adamco-green);
  --indicator-color: var(--adamco-green);
}

ion-segment-button ion-label {
  font-size: 0.7rem;
  font-weight: bold;
}

ion-badge {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

#take-photo {
  height: 10rem;
  margin: 1rem 0 0 0;
}

.btntakephoto {
  width: 70%;
}

.image-container {
  position: relative;
}

.text-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 0.5rem;
  position: absolute;
  bottom: 1px;
  font-size: 0.7rem;
}

video{
  width: 100%;
  padding: 0.8rem;
}
