<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Quotation List </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="loaded">
    <ion-segment value="DEFAULT" (ionChange)="filterQuotationList($event)">
      <ion-segment-button value="DEFAULT">
        <ion-label> Pending </ion-label>
      </ion-segment-button>
      <ion-segment-button value="CEO APPROVED">
        <ion-label> Signature </ion-label>
      </ion-segment-button>
      <ion-segment-button value="SIGNED QUOTATION">
        <ion-label> Completed </ion-label>
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="loaded; then content; else showLoading"></ng-container>

  <ng-template #content>

    <ng-container *ngIf="quotationList.length >= 1; then notempty; else empty"></ng-container>
    <ng-template #notempty>
      <ion-card mode="ios" class="ion-no-padding" *ngFor="let item of quotationList">
        <ion-chip [color]="item.ARML_Status ===  'SIGNED QUOTATION' ? 'success':'danger'" class="ion-margin">
          <ion-label> {{ item.ARML_Status }} </ion-label>
        </ion-chip>
        <ion-card-header>
          <ion-card-title>
            {{ item?.Client }}
          </ion-card-title>
          <ion-card-subtitle>
            ASQ No. {{ item?.ARML_AR_No}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ng-container *ngIf="item.ARML_Status === 'CEO APPROVED'; else signedQuotation">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="12">
                  <ion-button class="btnSign" (click)="openSignaturePad(item)">
                    <ion-icon slot="start" name="pencil"></ion-icon>
                    Sign Quotation
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
          <ng-template #signedQuotation>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6" class="ion-no-margin">
                  <ion-button (click)="viewQuotation(item)" color="dark" class="btnView">
                    View ASQ
                  </ion-button>
                </ion-col>
                <ion-col size="6" class="ion-no-margin">
                  <ion-button *ngIf="item.ARML_Status === 'SIGNED QUOTATION'" (click)="printQuotation(item)"
                    class="btnPrint">
                    Print ASQ
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-template>
        </ion-card-content>
      </ion-card>

    </ng-template>
    <ng-template #empty>
      <div class="ion-margin" align="center">
        <img src="../../../assets/img/no_itinerary.svg" alt="empty_docs" id="empty">
        <h3>No Data Found</h3>
      </div>
    </ng-template>
  </ng-template>
  <ng-template #showLoading>
    <div align="center">
      <img src="../../../assets/img/logo-gif/ADA-LOGO-ONLY-GIF.gif" alt="adamco logo loader" id="loader">
    </div>
  </ng-template>


  <ion-modal [isOpen]="isModalOpen" backdropDismiss="false">
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeSignatureModal()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>

        <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="attachment">
            <ion-label>Attachment</ion-label>
          </ion-segment-button>

          <ion-segment-button value="video" *ngIf="financeType === 'IN HOUSE'">
            <ion-label>Video</ion-label>
          </ion-segment-button>

          <ion-segment-button value="signature" [disabled]="attachmentData === ''">
            <ion-label>Signature</ion-label>
          </ion-segment-button>
        </ion-segment>


        <div [ngSwitch]="segmentValue">
          <div *ngSwitchCase="'signature'">
            <br>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">
                <h1> Signature of Client </h1>

              </ion-label>
            </ion-item>

            <ion-item>
              <signature-pad #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)"
                (drawEnd)="drawComplete($event)"></signature-pad>
            </ion-item>
            <ion-button class="ion-margin" mode="ios" color="danger" (click)="clearSignaturePad()">
              Reset
            </ion-button>
          </div>

          <div *ngSwitchCase="'video'">
            <ng-container *ngIf="this.videoSource !== ''; else selectVideo">
              <video height="300" controls>
                <source src="data:video/mp4;base64,{{videoSource}}" type="video/mp4">
                <source src="data:video/mp4;base64,{{videoSource}}" type="video/ogg">
                Your browser does not support the video tag.
              </video>

              <br>

              <div>
                <ion-button mode="ios" color="danger" class="ion-margin" (click)="clearSelectedVideo()">
                  Remove Selected Video
                </ion-button>
              </div>
            </ng-container>

            <ng-template #selectVideo>
              <br>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">
                  <h1>Instruction</h1>
                  <p>
                    Upload the video attachment.
                  </p>
                </ion-label>
              </ion-item>

              <div align="center">
                <img src="../../../assets/img/take-photo.svg" alt="take photo" id="take-photo">
                <br>
                <ion-button mode="ios" class="btntakephoto" (click)="uploadVideo()" color="dark">
                  Upload Video
                </ion-button>
              </div>
            </ng-template>
          </div>

          <div *ngSwitchDefault>
            <ng-container *ngIf="photoservice.photos.length > 0; else selectImage">
              <div class="ion-margin-horizontal">
                <div class="image-container" id="geotagged-img">
                  <div *ngFor="let photo of photoservice.photos">
                    <img class="ion-margin-top" src="data:image/png;base64,{{photo.webviewPath}}"
                      alt="selfie with client">
                  </div>
                  <div class="text-container ion-text-left">
                    <div id="imageDateTimeTag">{{imageDateTimeTag | date:'long'}}</div>
                    <div id="imageGeoTag">{{imageGeoTag}}</div>
                    <div id="imageLocationTag">{{LocationAddress}}</div>
                  </div>
                </div>
                <div>
                  <ion-button mode="ios" color="danger" (click)="clearImage()">
                    Clear Photo
                  </ion-button>
                </div>
              </div>
            </ng-container>

            <ng-template #selectImage>
              <br>
              <ion-item lines="none">
                <ion-label class="ion-text-wrap">
                  <h1>Instruction</h1>
                  <p>
                    Before shooting an image, ensure that both you and the client are in the same frame.
                  </p>
                </ion-label>
              </ion-item>

              <div align="center">
                <img src="../../../assets/img/take-photo.svg" alt="take photo" id="take-photo">

                <ion-button mode="ios" class="btntakephoto" (click)="capturePhoto()" color="dark">
                  Attach Photo With Client
                </ion-button>
              </div>
            </ng-template>
          </div>
        </div>

      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-button mode="ios" [disabled]="this.asqForm.invalid" class="ion-margin" id="submit" expand="block"
            (click)="saveSignedQuotation()">
            Submit Signed Quotation
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
  <br>
</ion-content>