/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Nunito-Regular";
  font-display: swap;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

* {
  font-family: "Nunito-Regular";
}

ion-title {
  font-weight: 600;
}

ion-modal {
  --height: 40%;
  --max-height: 40%;
  --max-width: 90%;
  --min-height: 40%;
  --min-width: 90%;
  --width: 90%;
}

button.alert-button {
    color: var(--adamco-green) !important;
    font-weight: bold !important;
}

@media only screen and (max-width: 576px) {
  img#loader {
    margin-top: 24vh;
    height: 15vh;
  }

  img#empty {
    margin-top: 5vh;
    height: 28vh;
  }
}

@media only screen and (min-width: 600px) {
  ion-title {
    font-size: 1.8rem;
  }

  ion-toolbar {
    --min-height: 5rem;
  }

  img#loader {
    margin-top: 28vh;
    height: 16vh;
  }

  img#empty {
    margin-top: 10vh;
    height: 35vh;
  }
}
