<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="loaded; then showContent; else showLoading"></ng-container>

  <ng-template #showContent>
    <ion-card mode="ios" class="ion-margin" id="main-card">
      <ion-card-header>
        <img src="../../../assets/img/logo/adamco.png" alt="ADAMCO logo" id="adamco-logo">
        <ion-card-subtitle>
          <ion-item lines="none" class="ion-no-margin ion-no-padding">
            <ion-avatar slot="start">
              <ion-img src="../../../assets/img/avatar.svg" alt="avatar"></ion-img>
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h3>{{userData?.employeeName}}</h3>
              <p id="position" class="ion-nowrap">{{userData?.position}}</p>
            </ion-label>
          </ion-item>
        </ion-card-subtitle>
        <ion-card-title>
          Welcome!
        </ion-card-title>
      </ion-card-header>
    </ion-card>


    <ng-container *ngIf="total >= 1; then showCards; else empty"></ng-container>
    <ng-template #showCards>
      <ion-item lines="none" class="ion-margin-top">
        <ion-label>
          <h2> For Stock Transfer Receipt </h2>
        </ion-label>
      </ion-item>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card mode="ios" class="itinerary-card">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-icon name="stats-chart"></ion-icon> Total
                </ion-card-subtitle>
                <ion-card-title class="ion-text-center"> {{ total }} </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <!-- <ion-col size="6">
            <ion-card mode="ios" class="itinerary-card">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-icon name="stats-chart"></ion-icon> Pending
                </ion-card-subtitle>
                <ion-card-title class="ion-text-center"> {{ pending }} </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col size="6">
            <ion-card mode="ios" class="itinerary-card">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-icon name="stats-chart"></ion-icon> Received
                </ion-card-subtitle>
                <ion-card-title class="ion-text-center"> {{ received }} </ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template #empty>
      <div align="center">
        <img src="../../../assets/img/no_itinerary.svg" alt="no data" id="empty">
      </div>
      <div id="empty-message">
        <ion-label>
          <h2>No itinerary has been assigned!</h2>
          <p id="note">
            To check, please get in touch with the SAMS Assistant you were assigned.
          </p>
        </ion-label>
      </div>
    </ng-template>

  </ng-template>

  <ng-template #showLoading>
    <div align="center">
      <img src="../../../assets/img/logo-gif/ADA-LOGO-ONLY-GIF.gif" alt="adamco logo loader" id="loader">
    </div>
  </ng-template>
</ion-content>